@import 'settings';
@import 'foundation';

.header { 
  background-color: $primary-color;  
}
.header img { 
  margin-top: $global-margin;
  vertical-align: baseline;
}
.footer { 
  background-color: $secondary-color;
  color: #ffffff;
}
  .footer a { 
    color: #ffffff;
  }
  .footer .storebadge {
    max-width:100px;
    height: auto;
    display:inline;
    margin-top: $global-margin;
  }
.rating-text {
  line-height: 70px;
  font-size: 24px;
  font-weight: 800;
}
.footer a.unsubscribe { font-size: 10px; color: lighten($secondary-color, 50% );  }