---
subject: 📱Thanks for using Conversations on your phone
---
<container>
  <row class="header">
    <columns small="10" large="11">
      <a href="https://conversations.dealerinspire.com/auth"><img src="https://gallery.mailchimp.com/9e8165b947e98939ad0583c2d/images/5964a7ad-c872-42b0-9d53-b8e0b3f81ac2.png" alt="Conversations" /></a>
    </columns>
    <columns small="2" large="1">
      <a href="https://conversations.dealerinspire.com/auth"><img src="https://gallery.mailchimp.com/9e8165b947e98939ad0583c2d/images/5c5356b9-c8ac-4d2a-9141-28b89cb95ed0.png" alt="Conversations" /></a>
    </columns>
  </row>
  <row class="spacer">
    <columns small="12" large="12">
      <p>&nbsp;</p>
    </columns>
  </row>
  <row>
    <columns small="12" large="12">
      <p>Hey James,</p>
      <p>We noticed that you&rsquo;ve logged in to Conversations on your phone lately, and would really like to hear what you thought about it.</p>
    </columns>
  </row>
  <row>
    <columns small="3" large="2">
      <center>
        <a href="http://goo.gl/forms/MCJRAD9Maf587jyd2"><img src="https://gallery.mailchimp.com/9e8165b947e98939ad0583c2d/images/af0cec37-34d4-44b4-bb2d-dd0e48b95fbc.png" alt="Love" /></a>
      </center>
    </columns>
    <columns small="9" large="10">
      <a href="http://goo.gl/forms/MCJRAD9Maf587jyd2" class="rating-text">I love it!</a>
    </columns>
  </row>
  <row>
    <columns small="3" large="2">
      <center>
        <a href="http://goo.gl/forms/QulnotHh9qftbCpJ2"><img src="https://gallery.mailchimp.com/9e8165b947e98939ad0583c2d/images/a5eb21d8-e91e-4742-a53f-50fa9c8f6134.png" alt="Like" /></a>
      </center>
    </columns>
    <columns small="9" large="10">
      <a href="http://goo.gl/forms/QulnotHh9qftbCpJ2" class="rating-text">I like it.</a>
    </columns>
  </row>
  <row>
    <columns small="3" large="2">
      <center>
        <a href="http://goo.gl/forms/cDDLTBsPnBAFIQI32"><img src="https://gallery.mailchimp.com/9e8165b947e98939ad0583c2d/images/dd806566-f70c-4687-8c04-24cefd810980.png" alt="Ok" /></a>
      </center>
    </columns>
    <columns small="9" large="10">
      <a href="http://goo.gl/forms/cDDLTBsPnBAFIQI32" class="rating-text">It&rsquo;s ok.</a>
    </columns>
  </row>
  <row>
    <columns small="3" large="2">
      <center>
        <a href="http://goo.gl/forms/dOyOPSjUr7SU9s0f2"><img src="https://gallery.mailchimp.com/9e8165b947e98939ad0583c2d/images/6aec752d-4c56-42d1-a6e0-776f19634759.png" alt="Dont Like" /></a>
      </center>
    </columns>
    <columns small="9" large="10">
      <a href="http://goo.gl/forms/dOyOPSjUr7SU9s0f2" class="rating-text">I don&rsquo;t like it.</a>
    </columns>
  </row>
  <row>
    <columns small="3" large="2">
      <center>
        <a href="http://goo.gl/forms/ztimuZEAOF3aqwDz2"><img src="assets/img/hate.png" alt="Hate" /></a>
      </center>
    </columns>
    <columns small="9" large="10">
      <a href="http://goo.gl/forms/ztimuZEAOF3aqwDz2" class="rating-text">I hate it.</a>
    </columns>
  </row>  <row class="collapse footer">
    <columns small="12" large="12">
      <center>
        <br /><a href="https://www.dealerinspire.com/?utm_source=conversations&utm_medium=email&utm_campaign=mobile-feedback
">Made with &hearts; by Dealer Inspire</a>
      </center>
      <center>
        <a href="https://itunes.apple.com/us/app/dealer-inspire-conversations/id1044428764?ls=1&mt=8"><img src="https://gallery.mailchimp.com/9e8165b947e98939ad0583c2d/images/788409b9-e6d1-4e09-b160-4473ef67268b.png" class="storebadge" alt="Apple App Store" /></a> &nbsp; <a href="https://play.google.com/store/apps/details?id=com.dealerinspire.conversations&hl=en"><img src="https://gallery.mailchimp.com/9e8165b947e98939ad0583c2d/images/ab8771ca-a545-49d2-b721-22add1b85ebb.png" class="storebadge" alt="Google Play Store" /></a>
      </center>
      <center><br /><a href="*|UNSUB|*" class="unsubscribe">Unsubscribe from this list</a></center>
    </columns>
  </row>  
</container>
